<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 class="section-heading text-center">About Me</h2>
            <hr class="light">
            <img src="assets/img/headshot.jpg" alt="Ryan Headshot" class="headshot">
            <p class="about text-faded">Hello! Thanks for stopping by my site. Before you look around, let me tell
                you a little about myself. I have spent the past 4 years as an independent financial advisor with
                Raymond James. Recently, I decided to give it all up and follow something I was more passionate
                about. As soon as I discovered the world of programming, I instantly fell in love. I have so much
                fun writing even the most simple of code and watching it work. And that is where I am today.
                Attending the UCF Coding Boot Camp and using every resource I can get my hands on to consume as much
                knowledge as possible. I am looking forward to becoming a full stack web developer and building and
                fixing things for people every day.</p>
            <p class="about text-faded">In addition to learning to code, my other hobbies include golf, running,
                serving at my church, listening to podcasts and spending time with my wife. We have been married for
                3 years and while we do not have any kids yet, we do have a 2 year old black labrador named Miles
                who keeps us both plenty busy. Some of my favorite podcasts include 'Wait Wait ... Don't Tell Me!',
                Developer Tea, MarketFoolery, JavascriptJabber, Stuff You Should Know, The Bill Simmons Podcast,
                This American Life, and Learn to Code With Me.</p>
            <div class="text-center">
                <a href="#skills" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</div>