<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">RYAN TALBOT</h1>
            <hr>
            <p>WEB DESIGNER, DEVELOPER & PODCAST JUNKIE</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    {{> about}}
</section>

<section id="skills">
    {{> skills}}
</section>

<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Portfolio</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row no-gutter">
            {{#each project}}
                <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box modalClick" id="{{name}}" data-toggle="modal" data-target="#modal">
                    <img src="{{cardImg}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{main}}
                            </div>
                            <div class="project-name">
                                {{second}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-2 col-xs-6 col-sm-offset-2">
                <a href="https://www.linkedin.com/in/rgtalbot" target="_blank"><i
                        class="fa fa-linkedin fa-4x sr-contact"></i></a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="https://twitter.com/rgtalbot" target="_blank"><i
                        class="fa fa-twitter fa-4x sr-contact"></i></a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="https://github.com/rgtalbot" target="_blank"><i class="fa fa-github fa-4x sr-contact"></i></a>
            </div>
            <div class="col-sm-2 col-xs-6">
                <a href="assets/pdf/RyanTalbot_Resume.pdf" target="_blank"><i class="fa fa-file-text fa-4x sr-contact"></i></a>
            </div>
        </div>
    </div>
</section>
<div class="footerwrap">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4 col-xs-12">
                <p><b>&copy; Copyright Ryan Talbot</b></p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>Orlando, FL</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="mailto:rgtalbot@gmail.com?Subject=Saw%20your%20website" target="_top"><p>rgtalbot@gmail.com</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- MODAL HERE -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="hangmanLabel">
    {{> modal}}
</div>
<!--END MODAL-->